/* color pallete dark-blue, gray, black, text-color */
:root{
    --dark-blue: #003366;
    --gray: #666666;
    --dark-gray:rgb(37,37,37);
    --black: #000000;
    --text-color: #ffffff;
    --myFont: 'Popins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--myFont);
    /* height: 100vh; //view port hight => mesure of the window that we are currently using */
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    display: flex;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 7px;
    outline: none;
    padding: 1rem;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}
.button-container button{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(to top,var(--dark-blue),#575757);
    color: var(--text-color);
    cursor: pointer;
    font-family: var(--myFont);
    font-size: 25px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(0, 0, 0, 0.3);
}
.button-container button:hover{
    background: linear-gradient(to bottom,var(--dark-blue),#575757);
}

.button-container button:active{
   transform: translateY(3px); /* this meand that when we place the button it will go down by three pixels */
   box-shadow:0 6px 6px 0 rgba(0, 0, 0, 0.3) ;
   border: 1px solid #000;
}